.todos {
  margin-left: -2rem;
}
.todo {
  display: flex;
  align-items: center;
  margin: 1rem;
  border: 2px solid black;
  border-radius: 4px;
  height: 2rem;
  width: 24rem;
}
.todo input {
  padding-left: 0.5rem;
}
.todo label {
  padding-left: 0.5rem;
  padding-bottom: 0.2rem;
}
